
<form method="post">
        <input required placeholder="Логин" style="width: 189px" class="auth-input" type="text" name="UserName">
        <input required placeholder="Пароль" style="width: 189px" class="auth-input" type="password" name="Password">
        <input value="Войти" class="auth-input" type="submit" name="LogginAuth">
    </form>    
<a href="../Registration.php" class="auth-input" style="text-decoration: none; font-family:'Roboto',sans-serif; font-size: 12px;width: 188px">Регистрация</a>