<div class="PickMap">
<select id="Selector">
<option selected disabled>Выберите карту</option>
  <option>Murzik</option>
  <option>GOODasdasdasd</option>
  <option>F</option>
</select>
</div>
<div id="Records">
</div>
<script src="../JavaScript/Records.js"></script>