<form method="post">
<center>
<input class="auth-input" type="text" name="RegLogin" placeholder="Логин" id="RegLogin" required>
<input class="auth-input" type="password" name="FirstPassword" placeholder="Пароль" id="FirstPassword" required>
<input class="auth-input" type="password" name="SecondPassword" placeholder="Пароль" id="SecondPassword" required>
<input class="auth-input" type="email" name="Email" placeholder="Почта@mail.ru" required>
<div style="float:right; margin: 5px 150px 0 0" name="ReCaptchaReg" class="g-recaptcha"  data-theme="dark" data-sitekey="6Le--QwUAAAAAOSnnXQyWMWrcJxyw89qiOy7KaP5"></div>	
<input style="width: 213px" value="Регистрация" class="auth-input" type="submit" name="SendForm" id="SendForm">
<div id="InfoPanel"></div>
</center>
</form>
<!--<script src="../JavaScript/inputData.js"></script>!-->