
<div class="rules">
	Osu! Tatakae! Ouendan - это музыкальная ритм-игра для Nintendo DS. Игровой процесс базируется на нескольких элементах: нажатии кругов на экране, а так же максимально быстрое вращение спиннера.
</div>
<hr>

<div class="rules">
	<ul>Как играть?<li>Мышкой</li></ul><br>
	<ul>Цель игры?<li>Главная цель, как можно больше набрать очков.</li></ul><br>
	<ul>Как это сделать?<li>Для этого нужно использовать элементы, которые появляются на экране</li></ul><br>
	<ul>Что за элементы?
		<li>Круги<br>
		Тут все просто, чем раньше нажал на элемент круг, тем больше очков получил</li>
		<li>Спинер<br>
		А тут придется попотеть... Его нужно крутить, причем по часовой, чем чаще совершаешь обороты, тем больше у него скорость, а значит и больше очков он приносит</li>
	</ul><br>
	<ul>Сколько очков дают за каждый Элемент?<li>Счет - важная составляющая этой игры, с помощью него вы сможете соревноваться с друзьями, в том, кто же лучше играет на той или иной карте.
И так. За «Шар» вам дается от 200 до 100 очков, если вы на него нажали. Все зависит от скорости нажатия.
За «Спинер» вам могут дать неопределенное количество очков. Так как его «время жизни» может быть не ограничено.</li></ul><br>
</div>