body {
    background-color: #05182d;
}

.Bubbles {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgb(18, 52, 90);
    position: absolute;
}

@-webkit-keyframes BubblesAnimation {
    0% {
        background-color: rgba(18, 52, 90, 0);
    }
    100% {
        background-color: rgb(18, 52, 90);
    }
}

@keyframes BubblesAnimation {
    0% {
        background-color: rgba(18, 52, 90, 0);
    }
    100% {
        background-color: rgb(18, 52, 90);
    }
}

@-webkit-keyframes BubblesDestroy {
    0% {}
    100% {
        background-color: rgba(18, 52, 90, 0);
        width: 60px;
        height: 60px;
    }
}

@keyframes BubblesDestroy {
    0% {}
    100% {
        transform: transform: translateY(-15.5px) translateX(-15.5px);
        width: 60px;
        height: 60px;
    }
}
