html,body {
	margin:0;
	-webkit-font-smoothing:antialiased;
}

header {
	z-index:2;
	-webkit-transition:margin .4s ease;
	transition:margin .4s ease;
	float:right;
	position:fixed;
	width:100%;
	height:60px;
	background-color:#3D3D3D;
	box-shadow:0 6px 36px -7px rgba(0,0,0,0.77);
}

ul>li {
	list-style:none;
	float:left;
	margin:5px 0 0 5px;
}

ul>li>a {
	font-family:'Roboto',sans-serif;
	text-decoration:none;
	color:#fff;
}

#icon-menu {
	color:#fff;
	float:left;
	height:18px;
	width:18px;
	padding:4px 8px 4px 1px;
	margin:-3px 4px 0 -5px;
	font-size:18px;
	border-radius:100%;
	-webkit-transition:.4s ease;
	transition:.4s ease;
}

#icon-menu:hover {
	background-color:#fff;
	color:#000;
	box-shadow:0 0 20px 2px rgba(230,76,60,0.55);
}

#Menu {
	z-index:2;
	box-shadow:6px 0 36px -7px rgba(0,0,0,0.77);
	padding:0;
	-webkit-transition:margin .4s ease;
	transition:margin .4s ease;
	margin-top:-10px;
	float:left;
	position:fixed;
	width:270px;
	height:110%;
	background-color:#595959;
	margin-left:-270px;
}

.user-block {
	background-color:#E84C3D;
	margin-top:10px;
	width:270px;
	height:60px;
	box-shadow:0 -8px 15px -9px #000 inset;
}

.block {
	z-index:1;
	float:right;
	margin:100px 25px 0 0;
	padding:10px;
	width:80%;
	height:auto;
	border-radius:7px;
	box-shadow:0 0 20px 1px rgba(0,0,0,0.5);
	background-color:#E84C3D;
}

.user-photo {
	float:left;
	width:50px;
	height:50px;
	margin:5px 0 0 5px;
	background-size:100%;
}

.user-name {
	float:left;
	width:auto;
	font-size:18px;
	font-family:'Roboto',sans-serif;
	font-weight:100;
	text-decoration:none;
	color:#fff;
	margin:20px 0 0 10px;
}

input:-webkit-autofill {
	-webkit-box-shadow:0 0 0 1000px #fff inset;
}

.auth-block {
	margin-top:20px;
	float:left;
}

#button {
	margin:5px;
	float:left;
	text-decoration:none;
	color:#E84C3D;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	height:auto;
	width:auto;
	padding:8px;
	border-radius:5px;
	background-color:rgba(0,0,0,0.2);
}

.auth-input {
	text-align:center;
	margin-bottom:4px;
	padding:5px;
	width:200px;
	background-color:#595959;
	border:1px solid #E84C3D;
	margin-left:13%;
	float:left;
	margin-top:5px;
	-webkit-transition:.3s ease;
	transition:.3s ease;
	color:#E84C3D;
}

.auth-input:hover {
	box-shadow:0 0 5px -2px #E84C3D;
}

.auth-input:focus {
	box-shadow:0 0 15px 5px #E84C3D;
}

.Block {
	position:relative;
	float:right;
	margin-right:40px;
	z-index:1;
	width:70%;
	height:auto;
	margin-top:100px;
	background-color:#3D3D3D;
	border-radius:20px;
	padding:20px;
	border:2px solid #E84C3D;
}

.boxLevel {
	width:100%;
	height:60px;
	float:left;
	border:2px solid #E84C3D;
	background-color:#818181;
	margin-bottom:20px;
}

#NameLevel {
	float:left;
	font-family:'Roboto',sans-serif;
	text-decoration:none;
	font-size:17px;
	color:#fff;
	margin:10px 0 0 10px;
}

#SongLevel {
	float:left;
	color:#fff;
	font-family:'Roboto',sans-serif;
	font-size:12px;
	margin:40px 0 0 -30px;
}

#StatLike {
	float:right;
	font-family:'Roboto',sans-serif;
	text-decoration:none;
	font-size:17px;
	color:#fff;
	margin:10px;
}

#StatView {
	float:right;
	color:#fff;
	font-family:'Roboto',sans-serif;
	font-size:12px;
	margin:40px;
}

.rules{
	float: left;
	color: white;
	font-size: 19px;
	font-family:'Roboto',sans-serif;
	margin-left: 40px;
}
.rules>ul{
	margin-left: -20px;
	float: left;
}
.rules>ul>li{
	width: 500px;
	float: right;
	margin: 20px 0 0 -10px;
		list-style:circle;
}
#Records{
	transition: .4s;
	margin-top: 10px;
}