.Notify {
    z-index: 99;
    float: left;
    position: absolute;
    position: fixed;
}

.Notify>a {
    float: left;
    padding: 20px;
}

.input>a {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    color: white;
}

.input>a>form>input {
    height: 25px;
    border: none;
    margin: 20px 0 0 0;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
}

.input>a:before {
    content: "";
    position: fixed;
    z-index: -1;
    display: block;
    border-radius: 15px;
    background-color: rgba(89, 89, 89, 0.7);
    width: 290px;
    height: 240px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    margin: -65px;
}

.input {
    text-align: center;
    border-radius: 20px;
    width: 210px;
    height: 200px;
}

.Info {
    background-color: rgba(89, 89, 89, 0.7);
}

.Notify>a>form>input {}
