html,body{
	margin: 0;
	/*background-image: url(http://i.imgur.com/m3qUYke.jpg);*/
	background-image: url(http://wallpaper.zone/img/2318251.png);
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
@-webkit-keyframes D {
    0% {}
    100% {
        width: 60px;
        height: 60px;
        background-color: rgba(203, 34, 183, 0);
        -webkit-transform: translateY(-7.5px) translateX(-7.5px);
        transform: translateY(-7.5px) translateX(-7.5px);
    }
}

@keyframes D {
    0% {}
    100% {
        width: 60px;
        height: 60px;
        background-color: rgba(203, 34, 183, 0);
        -webkit-transform: translateY(-7.5px) translateX(-7.5px);
        transform: translateY(-7.5px) translateX(-7.5px);
    }
}

@-webkit-keyframes S {
    0% {}
    100% {
        border: 1px solid rgba(203, 34, 183, 0.1);
        -webkit-transform: translateY(24.2px) translateX(24.2px);
        transform: translateY(24.2px) translateX(24.2px);
        width: 50px;
        height: 50px;
    }
}

@keyframes S {
    0% {}
    100% {
        border: 1px solid rgba(203, 34, 183, 0.1);
        -webkit-transform: translateY(24.2px) translateX(24.2px);
        transform: translateY(24.2px) translateX(24.2px);
        width: 50px;
        height: 50px;
    }
}

.ball {
    z-index: 3;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #01ACDC;
    border: 4px solid #fff;
    border-radius: 100%;
    transition: 1s;
}

.ball>a{
	float: left;
	font-size: 20px;
	color: #fff;
	margin-left: 17px;
	margin-top: 13px;
	cursor: default;
}

.ball>center {
    z-index: 2;
}

			@keyframes CircleAn{
				0%{
					width: 100px;
					height: 100px;
				}
				100%{
					-webkit-transform: translateY(23.5px) translateX(23.5px);
					width: 50px;
					height: 50px;
					
				}
			}
			.Circle{
				position: absolute;
				margin: 50px 0 0 100px;
				border-radius: 100%;
				border: 4px solid rgba(150, 161, 161, 0.53);
			}

#NameBall {
    font-size: 16px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#Score {
    padding: 5px;
    position: absolute;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #000;
}

.Level {
    height: 100%;
    width: 100%;
}

.Spin {
	    border: 4px solid #fff;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    position: absolute;
    height: 349px;
    width: 349px;
    /*http://ic.pics.livejournal.com/chebatkov/32409602/410504/410504_640.gif*/
    background-image: url(../bal.png);
    border-radius: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.Panel{
				background-color: rgba(112, 112, 112, 0.5);
				box-shadow: 0 0 42px 5px rgba(0, 0, 0, 0.5);
				width: 300px;
				height: 200px;
				border-radius: 10px;
				position: absolute;
				float: left;
				margin: 10% 25% 0 40%;
			}
			#Complexity{
				text-align: center;
				padding-top: 25px;
				font-size: 20px;
				font-family:'Roboto',sans-serif;
				font-weight: 100;
			}
			.Pick{
				width: 85px;
				height: 85px;
				background-size: 85px 85px;
				float: left;
				margin: 40px 7.2px 0 7.2px;
				background-color: white;
				border-radius: 120%;
				border: none;
				transition: .3s ease;
				
			}
			#Hard{
				background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Circle-icons-flame.svg/2000px-Circle-icons-flame.svg.png");
			}
			#Medium{
				background-image: url("https://www.controlincolor.com/shop/uploads/2000px-Pacman.svg.png");
			}
			#Easy{
				background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Creative-Tail-Halloween-tree.svg/2000px-Creative-Tail-Halloween-tree.svg.png");
			}
			#Hard:hover{
				transform: rotate(360deg);
				box-shadow: 0 0 42px 5px #C75C5C;
			}
			#Medium:hover{
				transform: rotate(360deg);
				box-shadow: 0 0 42px 5px #FFCC00;
			}
			#Easy:hover{
				transform: rotate(360deg);
				box-shadow: 0 0 42px 5px #90B3C6;
			}

